---

---
{{> nav}}
{{> header }}
<div class="container">
    <div class="grid">
        <div id="intro" class="column-6">
            <p class="lead">Five or six words here as intro</p>
            <p>More words here Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            <a href="https://bit.ly/knightlab-students" class="button button-primary button-full-width">Sign up for our email list</a>
            <p><small>Text here on why you should sign up for the emails Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></p>
        </div>
        <div id="upcoming-events" class="column-6">
            <div class="display-panel">
                <h4>Upcoming Events</h4>
                <div id="upcoming-events-panel"></div>
            </div>
        </div>
    </div>

    <div class="grid grid-flex-start">
        <div id="events-list-full" class="column-9"></div>
    </div>

    {{!-- <div id="lightning-talks-archive"></div> --}}

</div>
{{> footer }}
