---

---
{{> nav}}
{{> header }}
<div class="container">
    <div class="grid">
        <div id="intro" class="column-8">
            <h3 class="lead">Our Community</h3>
            <p>At our core, we care about journalism, technology, and telling stories. If that sounds like you, we'd love to see you at our weekly events on Tuesdays and Thursdays! Our doors are open to all students, faculty and staff at Northwestern. There's usually free food and good conversations, so feel free to swing by however long you can. For more updates, be sure to join our Northwestern-only <a href="https://groups.google.com/forum/#!forum/knight-lab-students">Google Group</a> for a weekly newsletter and follow our <a href="https://www.facebook.com/knightlab">Facebook</a> page.</p>
            <a href="https://bit.ly/knightlab-students" class="button button-primary button-full-width">Sign up for our email list</a>
        </div>
        <section class="section column-8">
            <div id="events-list-full"></div>
        </section>
    </div>
</div>
{{> footer }}




