---

---
{{> nav}}
{{> header }}
<div class="container">
    <div class="grid">
        <div id="intro" class="column-8">
            <h3 class="lead">Our Community</h3>
            <p>"Open lab" is the name for one of our anchor weekly events, but the phrase also embodies our desire to be a hub for all NU people interested in media, technology, storytelling and design. Watch this page for events and opportunities to meet people and make things. For more updates, be sure to join our Northwestern-only <a href="https://groups.google.com/forum/#!forum/knightlab-community">Google Group</a> for a weekly newsletter and follow our <a href="https://www.facebook.com/knightlab">Facebook</a> page.</p>
            <a href="https://bit.ly/knightlab-students" class="button button-primary button-full-width">Sign up for our email list</a>
        </div>
        <section class="section column-8">
            <div id="events-list-full"></div>
        </section>
    </div>
</div>
{{> footer }}
