---

---
{{> nav}}
{{> header }}
<div class="container">
    <div class="grid">
        <div id="intro" class="column-6">
            <p class="lead">Our Community</p>
            <p>At our core, we care about journalism, technology, and telling stories. If that sounds like you, pop by and visit our space at Fisk 111! We also host regular events for the Northwestern community on Tuesdays and Thursdays. Be sure to join our <a href="https://groups.google.com/forum/#!forum/knight-lab-students">Google Group</a> for weekly updates and follow our <a href="https://www.facebook.com/knightlab">Facebook</a> page for events. </p>
            <a href="https://bit.ly/knightlab-students" class="button button-primary button-full-width">Sign up for our email list</a>
        </div>
        <div id="upcoming-events" class="column-6">
            <div class="display-panel">
                <h4>Upcoming Events</h4>
                <div id="upcoming-events-panel"></div>
            </div>
        </div>
    </div>

    <div class="grid grid-flex-start">
        <div id="events-list-full" class="column-9"></div>
    </div>

    {{!-- <div id="lightning-talks-archive"></div> --}}

</div>
{{> footer }}
