
{{#if thisWeekEvents}}
<h3>This Week at Knight Lab</h3>
{{#each thisWeekEvents}}{{> event-full this}}{{/each}}
{{/if}}

<p class="time-meta"><small class="text-color-grey--light text-fontFamily-sansSerif">All event times are in Central Time</small><p>

{{#if upcomingEvents}}
<h3>The Future</h3>
{{#each upcomingEvents}}{{> event-full this}}{{/each}}
{{/if}}
