<div class="container">
    <div class="grid grid-size-2">
        {{#each talks}}
        <div class="grid-cell fill-color-primary--light border-rounded">
            <h3>{{topic}}</h4>
        </div>
        {{/each}}
    </div>
</div>
