<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Open Lab | Knight Lab</title>
		<meta name="keywords" content="">
		<meta name="description" content="Knight Lab style guide">
		<link rel="stylesheet" href="https://cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css"/>
		<link rel="stylesheet" href="css/main.css"/>
	</head>
	<body>
		{{{ body }}}
		<script src="js/index.js"></script>
	</body>
</html>
