$spacing-gutter: 2rem;

//Taken from Orangeline SCSS
$border-radius: 8px !default;

.rounded {
    border-radius: $border-radius;
}

// .button {
//     margin-left: 0 !important; margin-right: 0 !important;
// }

#upcoming-events h4 {
    margin-top: 0;
}

.event.event-full {
    display: flex;
    margin-top: 2em;

    .emoji {
        padding-right: 0.5rem;
        font-size: 1.125em;
        span { vertical-align: text-bottom; }
    }

    h5, h6 { margin-top: 0; }

    .button {
        display: inline-block;
        min-width: 50%;
        margin-bottom: 1rem;
    }
}

.event.event-small {
    display: flex;
    margin-top: 1em;
    text-decoration: none;
    background: none;
    .emoji {
        padding-right: 0.5rem;
        font-size: 1.125em;
        span { vertical-align: text-bottom; }
        text-shadow: none;
    }

    h6, p { margin-top: 0; }
    p { margin-bottom: 0; }
    h6 { margin-bottom: 0.25rem; }
}


.time-meta {
    margin-top: 2em;
    text-align: center;
}

.archives {
    margin-top: 4em;
    #archives-list { display: none; }
}

.grid-flex-start {
    justify-content: flex-start;
}

#lightning-talks-archive {
    #lightning-talks-list { display: none; }
}
